# Dependencies
node_modules/
.pnpm-store/

# Production Build & Coverage
dist/
coverage/
legacy/

# Environment & Sensitive GoPay Sessions
.env
.env.*.local
.gopay_cache.json
.GOPAY_SESI_JANGAN_DIHAPUS.json
gopay_session
gopay.key

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Obfuscation & Temporary files
*.raw.js
obfuscate.js

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
